extends snippets/layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p.
      Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏

    include snippets/themes-list.pug

    if popularArticles && lastComments
      .main-page__section-flex
        section.main-page__hot.hot
          h2.hot__name
            | Самое обсуждаемое
            span.hot__icon.hot__icon--fire
          ul.hot__list
            each article in popularArticles
              li.hot__list-item
                a.hot__list-link(href=`/articles/${article.id}`)= article.title
                  |
                  sup.hot__link-sup= article.comments.length

        section.main-page__last.last
          h2.last__name
            | Последние комментарии
            span.last__icon.last__icon--cloud
          ul.last__list
            li.last__list-item
              img.last__list-image(src='/img/avatar-small-1.png', width='20', height='20', alt='Аватар пользователя')
              b.last__list-name Анна Артамонова
              a.last__list-link(href='#') Сервис аренды жилья Airbnb стал глобальным партнером Международного олимпийского комитета (МОК) на девять лет, в течение которых пройдет пять Олимпиад, в том числе в Токио в 2020 году.

            each comment in lastComments
              li.last__list-item
                if (comment.avatar)
                  img.last__list-image(src=`/img/${comment.avatar}`, width='20', height='20', alt='Аватар пользователя')
                b.last__list-name= comment.name
                a.last__list-link(href=`/articles/${comment.articleId}`)= comment.text

    section.main-page__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each article in articles
          li.preview__item
            ul.preview__breadcrumbs
              each categoryItem in article.category
                li.preview__breadcrumbs-item
                  a.preview__breadcrumbs-link(href='#')= categoryItem
            if article.picture
              .preview__background
                img.preview__background-image(src=`/img/${article.picture ? article.picture : 'blank.png'}`, width='460', height='240', alt= article.title)
            time.preview__time(datetime= article.createDate)= article.createDate
            h3.preview__name
              a.preview__name-link(href= '/articles/' + article.id)= article.title
            p.preview__text= article.announce
            a.preview__comment(href='#')
              | Комментарии
              span.preview__cloud
              |
              b.preview__comment-count= article.comments.length

    .preview__toggle-wrapper
      ul.preview__pagination.pagination
        li
          a.pagination__button.button.button--backwards.button--disabled(href='#', aria-label='Страница назад') Назад
        li.pagination__item.pagination__item--active
          a(href='#') 1
        li.pagination__item
          a(href='#') 2
        li.pagination__item
          a(href='#') 3
        li.pagination__item
          a(href='#') 4
        li.pagination__item
          a(href='#') 5
        li
          a.pagination__button.button.button--forward(href='#', aria-label='Страница вперед') Вперед
